.resume{
    height: 70vh;
 
}
.resume-heading{
    font-size: 35px;
    color:#00539C;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
};

